<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/process_form" method="post">
        <label for="dog_name">Name:</label>
        <input type="text" name="dog_name" id="dog_name">
        <label for="breed">Breed:</label>
        <select name="breed" id="breed">
            <option value="corgi">Corgi</option>
            <option value="akita">Akita</option>
            <option value="chihuahua">Chihuahua</option>
            <option value="husky">Husky</option>
        </select>
        <label for="age">Age:</label>
        <input type="number" name="age" id="age">
        <input type="hidden" name="cuteness" value="9001">
        <button>Submit</button>
    </form>
</body>
</html>